body {
    font-family: 'Segoe UI', Tahoma,Geneva, Verdana, sans-serif;
    background:  whitesmoke;
    

}

h1, h2, h3 {
    margin: 10px;
  }

  .review-container {
    display: flex; 
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; 
    padding: 20px;            
       
   
  }


  .review-card {
    background-color: whitesmoke;
  }