body {
    font-family: 'Segoe UI', Tahoma,Geneva, Verdana, sans-serif;
    background:  whitesmoke;
    

}

h1, h2, h3 {
    margin: 10px;
  }

  .review-container {
    display: flex; 
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; 
    padding: 20px;            
       
   
  }


  .review-card {
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 250px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    
  }

  
.review-card .Deletebttn {
    margin-right: 5px;
    margin-top: 10px;
    padding: 5px 10px;
  border: 1px solid ;
  border-radius: 10px;
  cursor: pointer;

}

.review-card .Editbttn{
    margin-right: 5px;
    margin-top: 10px;
    padding: 5px 10px;
  border: 1px solid ;
  border-radius: 10px;
  cursor: pointer;
}


.review-header  {
    text-align: center;
    margin-bottom: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
  }

  /* AddReview Page */
  .add-review-container {
    max-width: 500px;
    margin: 30px auto; /* centers the container */
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }

  .add-review-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .add-review-form textarea {
    padding: 10px;
    
  }