body {
    font-family: 'Segoe UI', Tahoma,Geneva, Verdana, sans-serif;
    background:  whitesmoke;
    
    

}

h1, h2, h3 {
    margin: 10px;
  }

  .review-container {
    display: flex; 
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; 
    padding: 20px;            
       
   
  }


  .review-card {
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 250px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    
  }

  
.review-card .Deletebttn {
    margin-right: 5px;
    margin-top: 10px;
    padding: 5px 10px;
  border: 1px solid ;
  border-radius: 10px;
  cursor: pointer;

}

.review-card .Editbttn{
    margin-right: 5px;
    margin-top: 10px;
    padding: 5px 10px;
  border: 1px solid ;
  border-radius: 10px;
  cursor: pointer;
}


.review-header  {
    text-align: center;
    margin-bottom: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 1px 1px 2px;
  }

  /* AddReview Page */
  .add-review-container {
    max-width: 500px;
    margin: 30px auto;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .add-review-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .add-review-form textarea {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid whitesmoke;
    font-size: 20px;
   
  }

  .add-review-form button {
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    background-color: gray;
    color: whitesmoke;
    border: none;
    font-weight: bold;
    transition: background-color 0.2s ease;
  }
  .add-review-header {
    text-align: center;
    margin-bottom: 20px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}

  /* Spotlight page */
  .spotlight-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px 20px;
    text-align: center;
  }

  .spotlight-header {
    font-size: 30px;
    margin-bottom: 25px;
    color: rgb(10, 10, 10);
    text-shadow: 1px 1px 2px;
  }

  .spotlight-card-wrapper {
    display: flex;
    justify-content: center;
  }